:root {
    box-sizing: border-box;
}

body {
    background: beige;
}

body div {
    background: yellowgreen;
    font-size: 1rem;
    
}

.static {
    background-color: aqua;
    padding: 0.2rem;
    border: 0.1rem solid black;
}

header {
    background: black;
    color: white;
    margin: 0.1rem;
    padding: 0.1rem;
    text-align: center;
}

article {
    margin: 3px 0 3px;
    width: 100%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 2px;

}

.boxes div {
    position: relative;
    border: 2px solid black;
    width: 33vw;
    height: 33vh;
    margin: 0 auto;
}

.boxes div .click {
    position: absolute;
    background-color: bisque;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.boxes div .click:active {
    opacity: 0;
    transition: 1s;
}

.boxes div:nth-child(1) .img{
    background-image: url("https://cdn.pixabay.com/photo/2018/08/31/12/50/boxer-3644625__340.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.boxes div:nth-child(2) .img{
    background-image: url("https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554__480.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.boxes div:nth-child(3) .img{
    background-image: url("https://media.istockphoto.com/photos/lambs-wandering-in-the-scottish-highlands-uk-picture-id1327862986?b=1&k=20&m=1327862986&s=170667a&w=0&h=ZEgTL6ajghbZI7lKpkT95jBSAruUYqKTSbahfaN63us=");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.boxes div:nth-child(4) .img{
    background-image: url("https://cdn.pixabay.com/photo/2019/04/07/16/15/pony-4110061__340.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

footer {
    background-color: antiquewhite;
}

.info {
    position: relative;
    border: 2px;
    background: black;
    bottom: 0;
    left: 0;
    padding: 0;
    font-size: 1rem;
}

.info p {
   color: white;
}

@media(max-width:720px) {
    .boxes div {
        width: 80vw;
        height: 80vh;
    }
}