%mixins{
    justify-content: center;
    text-align: center;
    align-items: center;
}
body{
    background-image:url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500;") 
}
    header{
        display: flex;
        @extend %mixins;
        margin: 5px;
    }
    nav{ 
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10%;
        
        a{
            border: 2px solid black;
            font-size: 20px;
            background-color: beige;
            text-decoration: none;
            color: inherit;
            @extend %mixins;
            
        }         
        a:hover{
            transition: 1s;
            border: 2px solid black;      
            background-color: aquamarine;
            max-width: 60px;
            
        }
    }
    p::first-letter{
        font-size: 30px;
    }
    p::first-line {
        font-weight: bold;
    }
    ::selection {
        color: red;
        background-color: lightcoral;
    }
    .content{
        @extend %mixins;
        padding: 10px;
        margin: 10% auto; 
        max-width: 1200px;   
        font-size: 20px; 
        text-align: justify;  
              
    }
    section{
    font-family: 'Times New Roman', Times, serif;
        h3{
        color: blue;
        transition: 1s;
        }
        .contacts{
            padding: 5px;
            margin: 5px;
            a{
                justify-content: space-between;
                text-decoration: none;
                font-size: 20px;
                color: inherit;
                transition: 1s;
            }
        }
    
    }

    footer{
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0;
        left: 0;
        justify-content: center;
        margin-top: 0;
            a{
                @extend %mixins;
                display: flex;
                margin: 1%;
                padding: 1%;
                color: inherit;
                text-decoration: none;
                transition: 1s;
            }
    }
    

@media (max-width: 720px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
    }
}