body{
    background-image:url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500;");
    font-family: 'Times New Roman', Times, serif;
}
    header{
        max-width: 37.5rem;
        margin: auto;
        text-align: center;
        figure{
            margin: 0;
        }
        
    }
    nav{ 
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10%;
        
        a{
            border: 0.13rem solid black;
            font-size: 1.25rem;
            background-color: beige;
            text-decoration: none;
            color: inherit;
            
            
        }         
        a:hover{
            transition: 1s;
            border: 0.13rem solid black;      
            background-color: aquamarine;
            max-width: 100%;
            
        }
    }
    p::first-letter{
        font-size: 1.87rem;
    }
    p::first-line {
        font-weight: bold;
    }
    ::selection {
        color: red;
        background-color: lightcoral;
    }
    .content{
        padding: 0.63rem;
        margin: 10% auto; 
        max-width: 75rem;   
        font-size: 1.25rem; 
        text-align: justify;  
    }
    section{
    
        h3{
        color: blue;
        transition: 1s;
        }
        .contacts{
            margin: 0.31rem;
            a{
                justify-content: space-between;
                text-decoration: none;
                font-size: 1.25rem;
                color: inherit;
                transition: 1s;
                display: flex;
                flex-direction: column;
            }
        }
    
    }

    footer{
        display: flex;
        padding: 0;
        justify-content: center;
        
            a{
                margin: 1%;
                padding: 1%;
                color: inherit;
                text-decoration: none;
                transition: 1s;
            }
    }
    

@media (max-width: 720px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75rem;
    }
}