*{
    box-sizing: border-box;
}
body{
    background-image: url("https://media.istockphoto.com/photos/closeup-cropped-image-student-girl-hands-typing-using-laptop-picture-id1146488500?b=1&k=20&m=1146488500&s=170667a&w=0&h=m5rCGVJ-MM9jcHaaVz0IHG_lQmqFEJDm5A_FjOEDK2A=");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    
    

    >nav{
        .content{
            >figure{
                img{
                    max-width: 6.25rem;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin: auto;
                }
            }
            .hamburger{
                width: 2.5rem;
                height: 2.2rem;
                border: 0;
                border-top: 0.3rem solid black;
                background: transparent;
                position: relative;
                transition: 0.3s transform linear;
            }
            .hamburger::before, .hamburger::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-top: 5px solid black;
                transform: translateY(10px);
            }
            .hamburger::after{
                transform: translateY(10px);
                transition: 0.3s transform linear;
            }

            .hamburger:focus{
                transform: rotate(45deg) translateY(10px);
                border: none;
            }
            .hamburger:focus::after{
                transform: rotate(-90deg) translateX(-10px);
            }

            ul{
                border: 0.1rem dashed red;
                display: flex;
                flex-direction: column;
                padding: 1.25rem;
                margin: 1.25rem;
                >li{
                    border: 0.1rem dashed  green;
                    padding: 0.3rem;
                    a{
                        border: 0.1rem dashed red;
                        text-decoration: none;
                        color: inherit;
                    }
                
                }
                   
                    
                
                
            }
        }
             
    

    header{
            border: 0.1rem dashed green;
            height: 90vh;
            display: flex;
            align-items: center;
            img{
                width: 100%;
                
            }

        >section{
                text-align: center;
                padding-left: 10%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
            >h1{
                padding: 2.2rem;
                margin-top: 3.75rem;
                font-size: 2.5rem;  
                text-align: center;     
                }
                p{
                    color: green;
                    font-size: 2.5rem;
                    padding: 1.25rem;
                    margin: 0;
                }
            div{
            display: flex;
                >a{
                    border: 0.1rem dashed red;
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    flex-direction: row;
                }
            }
        }
    }
         
    }
    main{
        >section{
            border: 0.1rem dashed blue;
            padding: 0.9rem;
            p{
                border: 0.1rem dashed red;
            }
            &:nth-child(1){
                color: white;
                background-color: green;
            }
            &:nth-child(2){
                background-color: yellow;
            }
            &:nth-child(3){
                border: 0.1rem dashed green;
            }
        }
    }
}
