* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/img/woman.webp");
}

body > nav .content > figure img {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
}

body > nav .content .hamburger {
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid black;
  background: transparent;
  position: relative;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

body > nav .content .hamburger::before, body > nav .content .hamburger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid black;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

body > nav .content .hamburger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

body > nav .content .hamburger:focus {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
  border: none;
}

body > nav .content .hamburger:focus::after {
  -webkit-transform: rotate(-90deg) translateX(-10px);
          transform: rotate(-90deg) translateX(-10px);
}

body > nav .content ul {
  border: 2px dashed red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 20px;
}

body > nav .content ul > li {
  border: 2px dashed  green;
  padding: 5px;
}

body > nav .content ul > li a {
  border: 2px dashed red;
  text-decoration: none;
  color: inherit;
}

body > nav header {
  border: 2px dashed green;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > nav header img {
  width: 100%;
}

body > nav header > section {
  text-align: center;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body > nav header > section > h1 {
  padding: 35px;
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
}

body > nav header > section p {
  color: green;
  font-size: 40px;
  padding: 20px;
  margin: 0;
}

body > nav header > section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > nav header > section div > a {
  border: 2px dashed red;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main > section {
  border: 2px dashed blue;
  padding: 15px;
}

body main > section p {
  border: 2px dashed red;
}

body main > section:nth-child(1) {
  color: white;
  background-color: green;
}

body main > section:nth-child(2) {
  background-color: yellow;
}

body main > section:nth-child(3) {
  border: 2px dashed green;
}
/*# sourceMappingURL=style.css.map */