body{
    display: block;
    border: 2px dashed red;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2020/05/25/11/11/woman-5218160__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    position: relative;
}

header figure img{
    max-width: 15%;
    text-align: center;
}

.site-menu{
    margin-top: 1.56rem;
    right: 0;
    position: absolute;
}

ol{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.12rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
    justify-content: right;
    
}

ol > li{
    background-color: #ffbb99;
    width: 9.4rem;
    margin-left: 0.06rem;
}

ol > li:first-child{
    margin-left: 0;
}

ol > li > ul{
    display: none;
    transition: 1s;
}

ol > li:hover > ul{
    display: block;   
}
ol > li > a{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0 0.3rem;
}

ol > li:hover > a{
    color: #09C;
}

ol > li:hover{
    background-color: #EEE;
}

ol > li > ul > li{
    background-color: #ffbb99;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul > li:hover{
    background-color: #DDD;
}

ol > li > ul > li:hover a{
    color: #09c;
}

ol > li > ul > li > a{
    border-top: 0.06rem solid #FFF;
    text-decoration: none;
    background-color: azure;
    color: #000;
    padding: 0 0.5rem;
}

article h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.9rem;
}

article p{
    text-align: center;
    font-size: 1.30rem;
    color: blue;
}

footer.contact-info{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    margin: 80px auto 0.3rem 0.6rem;
}

footer ul{
    list-style-type: none;
    padding: 0.6rem;
    margin: 0;
}

footer ul li{
    padding: 0.3rem;
    display: inline;
    margin: 0rem auto 3.1rem 0.6rem;
}

footer ul li a{
    text-decoration: none;
    padding: 0.3rem;
    margin: auto 0.3rem;
}

footer img{
    max-width: 2rem;
}

footer.information{
    border: 2px dashed green;
    background-color: inherit;
    
}


