body{
    background-image: url(https://cdn.pixabay.com/photo/2018/09/18/19/55/woman-3687080__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    position: relative;
}

header figure img{
    max-width: 15%;
    text-align: center;
}

.site-menu{
    margin-top: 25px;
    right: 0;
    position: absolute;
}

ol{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.12rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
    justify-content: right;
    
}

ol > li{
    background-color: #ffbb99;
    width: 9.4rem;
    margin-left: 1px;
}

ol > li:first-child{
    margin-left: 0;
}

ol > li > ul{
    display: none;
    transition: 1s;
}

ol > li:hover > ul{
    display: block;   
}
ol > li > a{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0 0.3rem;
}

ol > li:hover > a{
    color: #09C;
}

ol > li:hover{
    background-color: #EEE;
}

ol > li > ul > li{
    background-color: #ffbb99;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul > li:hover{
    background-color: #DDD;
}

ol > li > ul > li:hover a{
    color: #09c;
}

ol > li > ul > li > a{
    border-top: 0.06rem solid #FFF;
    text-decoration: none;
    background-color: azure;
    color: #000;
    padding: 0 0.5rem;
}

article h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}

article p{
    text-align: center;
    font-size: 1.30rem;
    color: blue;
}

footer #contact{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 80px auto 5px 10px;
}

footer ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

footer ul li{
    padding: 5px;
    display: inline;
    margin: 0px auto 50px 10px;
}

footer ul li a{
    text-decoration: none;
    padding: 5px;
    margin: auto 5px;
}

footer img{
    max-width: 50px;
}