* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("https://media.istockphoto.com/photos/closeup-cropped-image-student-girl-hands-typing-using-laptop-picture-id1146488500?b=1&k=20&m=1146488500&s=170667a&w=0&h=m5rCGVJ-MM9jcHaaVz0IHG_lQmqFEJDm5A_FjOEDK2A=");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  
  padding: 15px;
  margin: 15px;
}

body .content > div{
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
body .content > div img{
  max-width: 30%;
}
body .content > div > a{
  display: contents;
}


.site-nav {
  height: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.6rem;
  box-sizing: border-box;
}

.site-menu {
  display: flex;
  top: 1.25rem;
  right: 0;
  position: absolute;
  
}
.site-menu ul{
  list-style-type: none;
  padding: 0px;
  margin: 0;
  font-size: 1.12rem;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ol > li > a{
  background: orange;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1.40rem;
}

ol > li > a:hover{
  width: 100%;
  background: #fff;
  color: #09c;
}

ol > li > ul > li{
  background-color: rgb(235, 234, 180);
  width: 6rem;
  border: 2px dashed red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

ol > li > ul {
  display: none;
  transition: 1s;
}

ol > li:hover > ul {
  display: block;
  transition: 1s;
}

ul > li:first-child {
  margin-left: 0;
}

ol > li > ul > li > a{
  border: 1px solid #fff;
  color: #000;
  text-decoration: none;
  padding: 0 0.3rem;
}

ul >li > a:hover{
  color: #09c
}
ul > li:hover{
  background-color: white;
}

.about {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about h1{
  text-transform: uppercase;
}

.about p{
  margin: 0.3rem auto;
  color: blue;
  background: #deb887;
  font-size: 1.25rem;
}

#about_me{
  padding: 0.6rem;
  margin: 0.3rem auto;
 
}

#about_me h2{
  font-size: 2rem;
  color: red;
  margin: 15px 15px;
  display: flex;
  justify-content: center;
}

#about_me img{
  margin: auto;
  display: flex;
  align-items: center;
}

#about_me p{
  font-size: 1.20rem;
  padding: 10px;
  color: #fff;
}

