body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/06/22/58/horse-1804425__340.jpg");
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center center;
}

header {
    position: relative;
    display: flex;
}

h1 {
    color: red;
    margin: auto;
    text-align: center;
    align-items: center;
}

.site-menu {
    margin-top: 4rem;
    right: 0;
    padding: 15px;
    position: absolute;
}

ol {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.12rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    }

ol > li:first-child {
    margin-left: 0;
}

ol > li {
    background-color: #31302f;
    width: 9.4rem;
}

ol > li:hover {
    background-color: blue;
}

ol > li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 0.3rem;
}

ol > li > ul {
    border: 2px dashed red; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul:hover {
    background-color: blueviolet;
}

ol > li > ul {
    display: none;
    transition: 10s;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul > li > a {
    border-top: 1px solid #FFF;
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 0 0.5rem;
}

#about {
    margin: 30px;
    padding: 10px;
}

#about h3 {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

#offer {
    margin: 30px;
    padding: 10px;
}

#offer h3 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

#offer p {
    /* background-color: black; */
}

#price_list {
    margin: 30px;
    padding: 10px;
}

#price_list h3 {
    color: #ff0000;
    text-transform: uppercase;
    text-align: center;
}

#price_list > ul > li {
    list-style-type: none;
}

#price_list > ul {
    margin: 10px;
    padding: 15px;
}

#register {
    margin: 30px;
    padding: 10px;
}

#register h3 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

#register form button {
    background-color: #ff0000;
    color: #FFF;
}

#contact {
    color: white;
    margin: 30px;
    padding: 10px;
}

#contact h3 {
    text-transform: uppercase;
    text-align: center;
}

#contact .adress > ol > li {
    background: transparent;
    
}

#contact img {
    width: 35px;
}

footer {
    text-align: center;
}







