body{
    background: black;
}

.about{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}

.about img{
    max-width: 12.5rem;
    padding: 1.2rem;
    margin: 1.2rem auto;
}

.about h2{
    color: red;
    font-size: 1.70rem;
}

.about p{
    border: 0.12rem solid red;
    width: 80%;
    margin: 0.9rem 0.6rem 1.2rem;
    padding: 1.2rem;
    color: #fff;
    font-size: 1.20rem;
}

.skills {
    color: white;
}

.skill-header {
    font-size: 1.5rem;
    text-align: center;
}




.return a{
    margin: 20px 4rem;
    padding: 0.6rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.return a:hover {
    color: lightgreen;
    text-decoration: underline;
    transition: 0.15s;
}

