body{
    background: black;
}

.about{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}

.about img{
    max-width: 200px;
    padding: 20px;
}

.about h2{
    color: red;
    font-size: 1.70rem;
}

.about p{
    border: 2px solid red;
    width: 500px;
    height: 260px;
    margin: 40px auto;
    padding: 15px;
    color: #fff;
    font-size: 1.20rem;
}