body{
    background: black;
}

.about{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}

.about img{
    max-width: 12.5rem;
    padding: 1.2rem;
    margin: 1.2rem auto;
}

.about h2{
    color: red;
    font-size: 1.70rem;
}

.about p{
    border: 0.12rem solid red;
    width: 80%;
    margin: 0.9rem 0.6rem 1.2rem;
    padding: 1.2rem;
    color: #fff;
    font-size: 1.20rem;
}

.skills-section {
    color: white;
}

.skill-header {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    color: white;
}

.skill-information {
    padding: 2rem;
    text-align: center;
}

.skill-name {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.skill-information progress {
    background-color: white;
    border: 0.1rem solid white;
}

.skill-information progress::-webkit-progress-value {
    background-color: white;
    border-radius: 0;
}

.skill-information progress::-webkit-progress-bar {
    background-color: black;
}



.return a{
    margin: 1.2rem 4rem;
    padding: 0.6rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.return a:hover {
    color: lightgreen;
    text-decoration: underline;
    transition: 0.20s;
}

