body{
    background: lightgreen;
}

body h1{
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.50rem;
}
.container{
    display: flex;
    flex-direction: column;
}

.container h2{
    color: blue;
    margin: 20px 15px;

}

.project1{
    max-width: 50%;
    margin: 20px 10px 30px 15px;
    padding: 10px;
}

.project1 h3{
    border: 2px solid lightseagreen;
    border-radius: 15px;
    background: lightsteelblue;
    text-align: center;
    padding: 10px;
    font-size: 1.20rem;
}

.project1 img{
    max-width: 100%;
}

.project1 a{
    display: block;
    border: 1px solid #000;
    background: ivory;
    text-decoration: none;
    color: inherit;
    font-size: 1.20rem;
}



